<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.0.90" targetFramework="net462" />
  <package id="CalcBinding" version="2.5.2" targetFramework="net462" />
  <package id="Caliburn.Micro" version="4.0.210" targetFramework="net462" />
  <package id="Caliburn.Micro.Core" version="4.0.210" targetFramework="net462" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net462" />
  <package id="DynamicExpresso.Core" version="2.13.0" targetFramework="net462" />
  <package id="gong-wpf-dragdrop" version="3.1.1" targetFramework="net462" />
  <package id="JsonControls.JsonViewer" version="1.0.0" targetFramework="net462" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="4.11.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
</packages>