<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bindables.Fody" version="6.3.0" targetFramework="net45" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net462" />
  <package id="Fody" version="6.6.3" targetFramework="net462" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks.Codicons" version="4.11.0" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net462" />
</packages>